@model Ugani_Restaurant.Models.LOAIMON

@{
    ViewBag.Title = "Xóa loại món";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Xóa</h3>

<div>
    <h4>Loại món</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENLOAIMON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAIMON)
        </dd>
        <dd>

        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Xóa
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thông báo</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Bạn có thực sự muốn xóa không?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                            <button type="submit" class="btn btn-primary">Tiếp tục xóa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
